@model IEnumerable<Product>


<h2 class="text-center mb-5">Gaming Store</h2>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="  card border-0 p-3 shadow border-top border-5 rounded">
                        <img  src="~/assets/@product.ImageFileName" class="card-img-top rounded" width="150" />
                        <div class="card-body pb-0" style="height: 200px;">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center"></p>
                                <p class="card-title text-warning text-center">by <b>@product.Brand</b></p>
                            </div>
                            <div class="pl-1">
                                <p class=" text-dark text-opacity-75 text-uppercase text-center">Price: <span>@product.Price</span> DT</p>
                                
                            </div>
                            <div >
                                <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">Details</a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>